include *.rst *.txt *.yml LICENSE NOTICE tox.ini docs/Makefile .coveragerc conftest.py *.yaml *.toml
recursive-include tests *.py
recursive-include docs *.rst
recursive-include docs *.py
prune docs/_build
